sudo: required
dist: trusty
language: node_js
before_install:
  - cp config.sample.js config.js
  - sed -i 's/pass:.*/pass:"travis",/' config.js
  - sed -i 's/root/travis/' config.js
  - docker run -d --net=host sparkida/pure-ftpd
  - sleep 1
node_js:
    - '8'
    - '7'
    - '6'
    - '5'
    - '4'
git:
    depth: 3
